{% load static %}
<div class="headerContainer">
    <div class="linkList">
        <a class="navlink" href="{% url 'invoice_list' %}">Invoices</a>
        <a class="navlink" href="{% url 'create_invoice' %}">Create Invoice</a>
    </div>
    <div class="linkList">
        <a class="navlink" href="{% url 'create_invoice_item' %}">Invoice Items</a>
        <a class="navlink" href="{% url 'create_supply' %}">Item Supplies</a>
    </div>
</div>
<div class="login-logout">
    {% if user.is_authenticated %} 
        <a class="logoutButton" href="{% url 'logout' %}">Logout</a>
        {% else %} 
        <a class="loginButton" href="{% url 'login' %}">Login</a>
        {% endif %} 
    </div>
